*.vue text working-tree-encoding=UTF-8
*.js text working-tree-encoding=UTF-8
*.ts text working-tree-encoding=UTF-8
*.scss text working-tree-encoding=UTF-8
*.css text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
